@font-face {
    font-family: consto;
    src: url("fonts/Lorano-ExtraLight.ttf") format("truetype") ;
}
@font-face {
    font-family: basicFont;
    src: url("fonts/Catamaran-Medium.ttf") format("truetype") ;
}
@font-face {
    font-family: Thinny;
    src: url("fonts/Catamaran-Thin.ttf") format("truetype") ;
}
@font-face {
    font-family: azonix;
    src: url("fonts/Azonix.otf") format("opentype") ;
}
.menu-ul{
    list-style-type: none;
    margin: 70px;
    float: right;
    margin-right: 50 px;
}

.menu-ul li{
    display : inline-flex;
    margin:0 50px 0 0;
    
    }
    
.link{
    text-decoration: none;
    color: #131515;
    font-weight:2000;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: basicFont;
    
    
}

.link:hover { color:  #00F2F2; }

.brandName{
    font-family: consto;
    display : inline-flex;
    margin: 50px 20px 50px 50px;
    color: #00F2F2;
    font-weight: bold;
    letter-spacing: 6px;
    font-size: 2em;
    -webkit-text-stroke: 3px #00F2F2;
  
}

.container{
    margin-left: 3rem;
    margin-right: 3rem;
    color: black;
}
/* * {background-color: #FCFFFC} */
* {background-color: #FCFFFC}



.wrapper{
    margin-top: 5em;
    margin-left: 50px;
    text-align: left;
    line-height: 3em;
    font-size: 20px;
    font-family: basicFont;
    color: black;
}

.blackbutton{
    color: white;
    border: none;
    background-color: black;
    font-family: basicFont;
    font-size: 1rem;
    letter-spacing: 2px;
    height: 32px;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.5em;
  margin: 20px 10px;
  transition: 0.2s;
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.thin{
    font-family: Thinny;
}

.ui-container {
    margin-top: 3em;
    text-align: center;
    font-family: basicFont;
}

.visibleLink {
    text-decoration: none;
    color: #00F2F2;
    font-weight:2000;
    letter-spacing: 3px;
    font-size: small;
}

.field{
    box-sizing: border-box;
    margin: 8px 0;
    width: 140;
    padding: '10px 20px';
    display: 'block';
    margin: '20px auto';

}